html,body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

input{
    width: 20rem;
}

form{
    margin: 1rem;
}

.container{
    align-self: center;
    text-align: center;
}